* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Gilroy',Arial,sans-serif;
    font-size: 14px;
	line-height: 1.55;
	font-weight: 400;
	color: #303030;
    
}
mark {
	background: none;
	font-weight: 700;
}
.btn-orange {
    border-radius: 45px;
    background: linear-gradient(47deg, rgba(247,232,151,1) 0%, rgba(252,209,36,1) 93%);
	border: none;
	cursor: pointer;
}
.container {
	max-width: 1250px;
	padding: 0 25px;
	margin: 0 auto;
}
.shadow {
	filter: brightness(50%);
}
.header {
	border-bottom: 1px solid #d9d9d9;
	padding: 20px 0;
	position: absolute;
	width: 100%;
	z-index: 2;
}
.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.header__logo {
	margin-right: 10px;
}
.header__text {
	font-size: 0.8571rem;
	line-height: 1.45;
    font-weight: 300;
	display: block;
	max-width: 135px;
	margin-left: -50px;
}
.header__location {
	display: flex;
}
.header__location img {
	display: block;
	max-width: 46px;
	margin-right: 10px;
}
.header__location span {
	font-size: 0.8571rem;
	display: block;
	max-width: 125px;
}
.header__contact {
	display: flex;
	margin-right: -70px;
}
.header__contact a {
	max-width: 45px;
	border-radius: 50%;
	
}
.header__contact img {
	display: block;
	max-width: 43px;
}
.header__tel a{
	display: block;
	text-decoration: none;
	color: #000;
	font-size: 1.3571rem;
    font-weight: 700;
}
.header__calculate {
    font-weight: 700;
	border: 1px solid #303030;
    border-radius: 30px;
	padding: 15px 25px;
	cursor: pointer;

}
.intro {
	background: url(./images/introimg.jpg) no-repeat center;
	background-size: cover;
	position: relative;
}
.intro__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.intro__title {
	font-size: 3.0714rem;
	line-height: 1.45;
	font-weight: 700;
	max-width: 700px;
	padding-top: 200px;
	margin-bottom: 20px;
}
.intro__subtitle {
    font-size: 1.5714rem;
	max-width: 690px;
	margin-bottom: 40px;
}
.intro__btn {
	display: flex;
	gap: 40px;
	margin-bottom: 40px;
}
.intro__btn-calculate {
    font-weight: 700;
    border-radius: 45px;
    background: linear-gradient(47deg, rgba(247,232,151,1) 0%, rgba(252,209,36,1) 93%);
	border: none;
	padding: 25px ;
	cursor: pointer;

}
.intro__btn-popup {
    font-weight: 700;
	border: 1px solid #303030;
    border-radius: 45px;
	padding: 25px ;
	cursor: pointer;

}
.intro__box {
	max-width: 60%;
	display: flex;
	gap: 10px;
	padding-bottom: 50px;
}
.intro__item {
	display: flex;
	align-items: center;
	gap: 10px;
}
.intro__item img {
	max-width: 68px;
	
}
.intro__item p {
	display: inline-block;
	color: #000000;
    font-size: 0.9286rem;
	max-width: 125px;
}
.intro__rating {
	border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 5px 20px 0px rgb(8 8 8 / 30%);
	width: 284px;
	padding: 15px;
	margin-right: 25px;
}	
.intro__rating img {
	display: block;
	width: 100px;
}
.intro__rating p {
	color: #000000;
    font-size: 1.0714rem;
}
.service {
	padding: 100px 0;
	background: #fff;

}
.service__text {
    font-size: 1.4286rem;

}
.service__title {
    font-size: 2.8571rem;
    line-height: 1.35;
    font-weight: 700;
	max-width: 550px;
	margin-bottom: 50px;

}
.service__box {
	display: flex;
	justify-content: space-between;
	gap: 50px;

}
.service__item {
	border: 2px solid #ece8e6;
	padding: 45px 30px 0 75px;
	max-width: 360px;
    width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	

}
.service__item::before {
	content: "";
	position: absolute;
	top: 20px;
	left: -10px;
	background: #ece8e6;
	padding: 13px 30px;
	
	color: #ffffff;
    font-size: 2.1429rem;
    font-weight: 800;
	text-align: center;
}
.service__item:first-child:before {
	content: "1";

}
.service__item:nth-child(2n):before {
	content: "2";

}
.service__item:last-child:before {
	content: "3";
}
.service__item-title {
    font-size: 1.7143rem;
    line-height: 1.4;
    font-weight: 700;
	margin-bottom: 20px;
}
.service__item-text {
	font-size: 1.1429rem;
}
.service__item-btn {
	display: inline-block;
    font-weight: 700;
    border-radius: 30px;
    background-image: linear-gradient(47deg, rgba(247,232,151,1) 0%, rgba(252,209,36,1) 93%);
	padding: 15px;
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translate(-50%);
	z-index: 2;
	cursor: pointer;
}
.service__item-img {
	display: block;
	width: 100%;
	opacity: 0.55;
}
.service__item-img1 {
	max-width: 234px;
	/* position: relative;
	bottom: -13px; */
}


.service__item-img2 {
	width: 110%;
}
.service__item-img3 {
	margin-right: -30px;
    width: auto;

}
.portfolio {
	background: url(./images/porfoliobg.jpg) center;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 100px;
}
.portfolio__text {
    font-size: 1.4286rem;

}
.portfolio__title {
    font-size: 2.8571rem;
    line-height: 1.35;
    font-weight: 700;
	max-width: 650px;
	margin-bottom: 70px;
}
.portfolio__wrapper {
	display: flex;
	justify-content: space-between;
	gap: 100px;
	flex-wrap: wrap;
}
.portfolio__box {
	
	width: calc(50% - 50px);
}
.swiper-slide {
	max-height: 400px;
	
}
.portfolio__box .swiper-slide img {
	min-height: 400px;
	display: block;
	object-fit: cover;
	object-position: center;
	width: 100%;
    height: 100%;
}
.swiper-button-prev, .swiper-button-next {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: none;
	background: #f0f0f0;
	
}
.swiper-button-prev::after, .swiper-button-next::after {
	display: none;
}
.swiper-button-prev::before  {
	content: "\2190";
	font-size: 1.4286rem;
	color: #000;
}
.swiper-button-next::before {
	content: "\2192";
	font-size: 1.4286rem;
	color: #000;
}
.portfolio__box__info {
	background-color: #ffffff;
	padding: 35px;
	color: #000000;


	display: grid;
	align-items: center;
	grid-template-columns: 40%;
	gap: 15px;


}
.portfolio__box__title {
	font-size: 1.2857rem;
    font-weight: 700;
	grid-column: 1 / 3;
	
}
.portfolio__box__square {
	position: relative;
	padding-left: 40px;
	
}	
.portfolio__box__square::before {
	content: "";
	width: 26px;
	height: 26px;
	background: url(./images/porfolio/info/sqare.png) no-repeat center;
	background-size: cover;
	position: absolute;
	left: 0;
}
.portfolio__box__date {
	position: relative;
	padding-left: 40px;
}
.portfolio__box__date::before {
	content: "";
	width: 26px;
	height: 26px;
	background: url(./images/porfolio/info/date.png) no-repeat center;
	background-size: cover;
	position: absolute;
	left: 0;
}
.portfolio__box__price {
	position: relative;
	grid-column: 1 / 3;
	padding-left: 40px;
}
.portfolio__box__price::before {
	content: "";
	width: 26px;
	height: 26px;
	background: url(./images/porfolio/info/price.png) no-repeat center;
	background-size: cover;
	position: absolute;
	left: 0;
}
.portfolio__box__btn {
	max-width: 170px;
	font-weight: 500;
	padding: 5px 15px;
	text-align: center;
}
.portfolio__box__design {
	font-size: 0.7857rem;
	
}
.pricelist {
	padding-top: 70px;
	padding-bottom: 100px;
	background: #fff;
}
.pricelist__title {
	font-size: 3rem;
    line-height: 1.23;
    font-weight: 700;
    color: rgb(0, 0, 0);
	text-align: center;
	margin-bottom: 105px;
}
.pricelist__box {
	overflow: auto;

}
.pricelist__table {
	overflow-x: scroll;
	min-width: 1200px;
}
table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;

}
table td {
	width: 100%;
}
table, th, tr, td {
	border: 1px solid #e0e0e0;
}
td, th {
	padding: 10px 20px 25px;
    vertical-align: top;
}
th {
	padding:25px 20px;
	text-align: left;
	font-size: 1.2857rem;
    line-height: 1.35;

}
ul {
	padding-left: 20px;
}
.table__btn {
	padding: 10px 20px;
	display: inline-block;
}
.table__row__btn td {
	padding: 28px 20px;
}
.table__first__column {
	width: 200px;
}
.without__marker {
	list-style: none;
	padding-left: 0;
}
.reviews {
	padding-top: 50px;
	padding-bottom: 100px;
	background: #fff;
}
.reviews___text {
	font-size: 1.4286rem;
}
.reviews__title {
	font-size: 2.8571rem;
	line-height: 1.35;
	font-weight: 700;
	max-width: 600px;
	margin: 20px 0 40px;
}
.reviews__wrapper {
	display: flex;
	justify-content: space-between;
	gap: 60px 30px;
	flex-wrap: wrap;
}
.reviews__item {
	width: calc(33% - 30px);

}
.review__info {
	padding-top: 25px;
}
.review__client {
	color: #000000;
}
.review__text {
	color: #000000;
    font-size: 1.4286rem;
    line-height: 1.35;
}
.costcalc {
	background: #fff;
}
.costcalc__wrapper {
	background: url(./images/cost/bg.jpg) no-repeat ;
	background-size: cover;
	padding: 50px 0 50px 50px;
	padding-left: 50px;
	position: relative;
	
}
.costcalc__wrapper::before {
	content: "";
	background: url(./images/cost/2.png) no-repeat center;
    background-size: contain;
    width: 40%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.costcalc__box {
	width: 60%;
}
.costcalc__title {
    font-size: 2.4286rem;
    line-height: 1.45;
    font-weight: 700;
	margin-bottom: 20px;
}
.costcalc__text {
    font-size: 1.4286rem;
	margin-bottom: 20px;
}
.costcalc__contact {
	display: flex;
	align-items: center;
	gap: 20px;
}
.costcalc__btn {
	display: inline-block;
	padding: 20px 30px;
	font-weight: 700;
}
.costcalc__contact__text {
	color: #000000;
	max-width: 215px;
}
.costcalc__contact a {
	max-width: 43px;
	border-radius: 50%;
}
.costcalc__contact img {
	max-width: 43px;
	display: block;
}
.standarts {
	padding: 100px 0;
	background: #fff;
}
.standarts__title {
	color: #000000;
    font-size: 2.5rem;
	text-align: center;
	margin-bottom: 10px;
	font-weight: 400;
}
.standarts__text {
	color: #000000;
    font-size: 1.4286rem;
	text-align: center;
	display: block;
}
.standarts__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.standarts__item {
	width: 33%;
    min-width: 300px;
    max-height: 450px;
}
.standarts__item__first {
	border: 1px solid #d1d1d1;
    border-radius: 10px;
	background: url(./images/standarts/tel.png) no-repeat;
    background-position: center bottom;
	padding:35px 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	max-width: 300px;
	min-height: 450px;
}
.standarts__item__first__title {
	color: #000000;
	font-size: 1.4286rem;
	text-align: center;
	margin-bottom: 10px;

}
.standarts__item__first__text {
	color: #000000;
	font-weight: 700;
	text-align: center;
	max-width: 180px;
	margin: 0 auto;
}
.standarts__item__first__btn {
	color: #000000;
    font-weight: 500;
    border-width: 1px;
    border-radius: 10px;
    background-color: #fcef87;
	padding: 20px;
	display: inline-block;
	
}
.standarts__item__second {
	overflow: hidden;
}
.standarts__item__second img{
	display: block;
	object-fit: contain;
	object-position: center;
	width: 100%;
	height: 100%;
	margin: 0 auto;

}
.standarts__item__third {
	max-width: 375px;
}
.standarts__item__third__inner {
	margin-top: 15px;
	display: grid;
	grid-template-columns: 90px auto;
}
.standarts__item__third h4 {
	color: #000000;
    font-size: 1.2857rem;
    font-weight: 700;
	grid-column: 1/3;
}
.standarts__item__third__inner img{
	display: block;
	max-width: 90px;
	grid-row: 1/3;
}
.standarts__item__third__inner span {
	color: #000000;
    font-size: 1.1429rem;
    font-weight: 700;
	margin-bottom: 10px;
}
.standarts__item__third__inner p {
	color: #adadad;
}
.stages{
	padding-bottom: 100px;
	background: #fff;
}
.stages__title {
	color: #000000;
    font-size: 2.5rem;
	max-width: 710px;
	text-align: center;
	margin: 0 auto;
	font-weight: 400;
}
.stages__subtitle {
	color: #000000;
    font-size: 1.4286rem;
	display: block;
	text-align: center;
	margin: 20px 0 50px;
}
.stages__wrapper {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 20px;
}
.stages__box {
	border: 1px solid #dbdbdb;
	padding: 25px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.stages__img__box {
	position: relative;
	margin-bottom: 20px;
}
.stages__img__box::before {
	content: "";
	position: absolute;
	right: -45px;
	bottom: 50%;
	transform: translateY(50%);
	color: #ebebeb;
    font-size: 4.6429rem;
    font-weight: 700;
}
.stages__box__1 {
	border: none;
	box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 10%);
	grid-column: 1/4;
	background: url(./images/stages/keyboard.png) no-repeat;
	background-position: right bottom;
	
}
.stages__box__1 .stages__img__box::before {
	content: "1";
}
.stages__box__2 {
	grid-column: 4/6;
}
.stages__box__2 .stages__img__box::before {
	content: "2";
}
.stages__box__3 {
	grid-column: 6/8;
}
.stages__box__3 .stages__img__box::before {
	content: "3";
}
.stages__box__4 {
	grid-column: 1/3;
}
.stages__box__4 .stages__img__box::before {
	content: "4";
}
.stages__box__5 {
	grid-column: 3/5;
}
.stages__box__5 .stages__img__box::before {
	content: "5";
}
.stages__box__6 {
	grid-column: 5/8;
	background: url(./images/stages/ballons.png) no-repeat;
	background-position: right bottom;
	background-size: contain;
	background-color: #fffdf4;
	justify-content: space-between;
	position: relative;
}
.stages__box__6::after {
	content: "6";
	position: absolute;
	left: 60%;
	bottom: 50%;
	transform: translate(-60%, 50%);
	color: #ebebeb;
    font-size: 9.2857rem;
    font-weight: 700;
}
.stages__img {
	display: block;
	position: relative;
}
.stages__text {
	color: #000000;
	width: 210px;
}
.stages__btn {
	color: #000000;
    font-weight: 500;
    border-width: 1px;
    border-radius: 10px;
    background-color: #fcef87;
	padding: 15px 35px;
	cursor: pointer;
}
.founder {
	background: url(./images/founder/bg.jpg) no-repeat center;
	background-size: cover;
}
.founder__wrapper {
	display: flex;
	align-items: center;
	gap: 30px;
}
.founder__info {
	width: 50%;
	padding: 80px 0;
}
.founder__title {
	color: #333123;
    font-size: 2.2857rem;
	font-weight: 400;

}
.founder__text {
	color: #333123;
	font-size: 1.2857rem;
	width: 270px;
	display: inline-block;
}
.founder__link {
	color: #ffffff;
    font-weight: 500;
	border: 1px dashed #fcef87;
    border-radius: 10px;
    background-color: #333123;
	display: inline-block;
	padding: 15px 45px;
}
.founder__form {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.form__input {
	padding: 25px 20px 25px 40px;
	color: #000000;
    border: 1px solid #f0f0f0;
    border-radius: 15px;
    font-size: 1.1429rem;
}
.form__btn {
	color: #424242;
    background-color: #fcef87;
    border-radius: 10px;
    font-weight: 700;
    width: 250px;
    padding: 0 15px;
    display: block;
	border: none;
	padding: 26px 40px;
}
.founder__inner {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
}
.founder__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
    background-color: #ffffff;
	padding: 15px 15px 15px 30px;
}
.founder__item-second {
	display: none;
}
.founder__contact {
	border-radius: 10px;
    background-color: #333123;
	padding: 15px;
	color: #ebebeb;
	width: 40%;
}
.founder__contact span {
	color: #39de5a;
    font-size: 0.7857rem;
	display: block;
	text-align: center;
}
.founder__contact a {
	color: #ffffff;
    font-size: 1.2857rem;
    font-weight: 700;
	display: block;
	text-align: center;
}
.founder__imgbox {
	width: 50%;
	max-width: 435px;
	position: relative;
}
.founder__foto {
	display: block;
	width: 100%;
}
.founder__name {
	border-radius: 10px;
    background-color: #ffffff;
	position: absolute;
	bottom: 100px;
	left: 25%;
	padding: 25px 35px;
}
.founder__fullname {
	color: #000000;
    font-size: 1.1429rem;
	display: block;
	text-align: center;
}
.founder__position {
	color: #b5b5b5;
}
.acordeon {
	padding: 100px 0;
	background: #fff;
}
.acordeon__title {
	color: #000000;
    font-size: 2.5rem;
	text-align: center;
	margin: 0 auto;
	max-width: 630px;
	margin-bottom: 20px;
}
.acordeon__subtitle {
	color: #000000;
	font-size: 1.4286rem;
	text-align: center;
	display: block;
	margin-bottom: 100px;
}
.acordeon__box {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	position: relative;
    cursor: pointer;
    padding: 27px 100px 27px 0;
	overflow: hidden;
	transition: 1s;
}
.acordeon__box__title {
	color: #383838;
	font-weight: 500;
	font-size: 1.5714rem;
	line-height: 1.35;
}
.acordeon__box__text {
	color: #383838;
	visibility: hidden;
	height:0;
	overflow:hidden;
	opacity:0;
	transition:all 0.2s linear;
}
.acordeon__btn {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: rgb(235, 235, 235);
	transition: 0.5s;
	top: 20px;
	right: 20px;
}
.lines {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.lines::before {
	content: "";
	position: absolute;
	width: 24px;
	height: 3px;
	background: rgb(82, 82, 82);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.lines::after {
	content: "";
	position: absolute;
	width: 3px;
	height: 24px;
	background: rgb(82, 82, 82);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.btn__open .acordeon__btn {
	background: #fcef87;
	transform: rotate(-45deg);
}
.btn__open .acordeon__btn .lines::before {
	background: #f0f0f0;
}
.btn__open .acordeon__btn .lines::after {
	background: #f0f0f0;
}
.acordeon__open {
	visibility: visible;
	height:auto;
	overflow:none;
	opacity:1;
	margin: 27px 0 20px;
}
@media (max-width: 1250px) {
	.header__calculate, .header__location {
		display: none;
	}
	.service__box {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.standarts__wrapper {
		flex-wrap: wrap;
		justify-content: center;
	}

	.standarts__item {
		width: 50%;
	}
	.standarts__item__second {
		margin: 0;
	}

	.standarts__item__second img{
		display: block;
		object-fit: cover;
		object-position: center;
		width: 90%;

	
	}
	.standarts__item__third {
		grid-column: 1/3;
		max-width: 100%;
		display: grid;
		grid-template-columns: auto auto auto;
		gap: 20px;
	}
	.standarts__item__third h4 {
		text-align: center;
	}
	.standarts__item__third__inner:first-child{
		grid-column: 1/4;
	}
	.standarts__item__third__inner {
		width: 100%;
		display: grid;
		grid-template-columns: auto;
	}
}
@media (max-width: 991.75px){
	html {
		font-size: 13px;
	}
	.container {
		padding: 0 15px;
	}

	.header__text {
		max-width: 30%;
	}

	.intro__wrapper {
		justify-content: center;
		flex-wrap: wrap;
	}
	.intro__title, .intro__subtitle {
		text-align: center;
	}

	.intro__title {
		padding-top: 100px;
	}
	.intro__btn {
		justify-content: center;
		
	}

	.intro__box {
		max-width: 100%;
		justify-content: space-around;
		gap: 30px;
	}
	.intro__rating {
		margin-bottom: 50px;
		margin-right: 0;
	}

	.service {
		padding: 70px 0;
	}
	.service__text {
		display: block;
		text-align: center;
	}
	.service__title {
		max-width: none;
		text-align: center;
	}

	.service__item {
		max-width: calc(50% - 30px);
		padding: 40px 20px 0 60px;
	}

	.service__item::before {
		padding: 9px 25px;
	}

	.service__item-img3 {
		margin-right: -20px;
	}

	.portfolio__text {
		display: block;
		text-align: center;
	}
	.portfolio__title {
		text-align: center;
		margin: 0 auto 50px;
	}
	.portfolio__wrapper {
		flex-wrap: wrap;
		justify-content: center;
		gap: 50px;
	}
	.portfolio__box {
		width: 90%;
	}

	.pricelist__title {
		margin-bottom: 50px;
	}
	.reviews__text {
		display: block;
		text-align: center;
	}

	.reviews__title {
		margin: 20px auto 40px;
		text-align: center;

	}
	.reviews__wrapper {
		flex-wrap: wrap;
		justify-content: space-around;
		gap: 50px 0;
	}

	.reviews__item {
		width: calc(50% - 30px);
	}

	.costcalc__wrapper {
		padding: 50px 50px 200px;
		height: auto;
	}
	.costcalc__wrapper::before {
		content: "";
		background: url(./images/cost/2.png) no-repeat center;
		background-size: contain;
		width: 70%;
		height: 60%;
		position: absolute;
		bottom: 0;
		right: 50%;
		transform: translateX(50%);
		z-index: 0;
	}
	.costcalc__box {
		width: 100%;
		position: relative;
    	z-index: 2;
	}
	.costcalc__title {
		text-align: center;
	}
	.costcalc__text {
		text-align: center;
	}
	.costcalc__contact {
		justify-content: center;
	}
	.costcalc__contact__text {
		display: none;
	}
	.costcalc__contact a {
		display: none;
	}

	.standarts {
		margin: 100px 0 60px;
	}
	.standarts__wrapper {
		row-gap: 30px;
	}
	.standarts__text {
		margin-bottom: 15px;
	}
	.standarts__item__second {
		margin: 0;
	}
	.standarts__item__second img{
		display: block;
		object-fit: cover;
		object-position: center;
		width: 90%;
		margin: 0 auto;
	
	}
	.standarts__item__third {
		max-width: 100%;
		display: grid;
		grid-template-columns: auto auto auto;
		gap: 20px;
		width: 90%;
	}
	.standarts__item__third h4 {
		text-align: center;
	}
	.standarts__item__third__inner:first-child{
		grid-column: 1/4;
	}
	.standarts__item__third__inner {
		width: 100%;
		display: grid;
		grid-template-columns: auto;
	}

	.stages__wrapper {
		max-width: 750px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		gap: 20px;
	}
	.stages__box__1 {
		grid-column: 1/7;
	}
	.stages__box__2 {
		grid-column: 7/11;
	}

	.stages__box__3 {
		grid-column: 1/6;
	}
	.stages__box__4 {
		grid-column: 6/11;
	}

	.stages__box__5 {
		grid-column: 1/5;
	}
	.stages__box__6 {
		grid-column: 5/11;
		background: url(./images/stages/ballons.png) no-repeat;
		background-position: right bottom;
		background-size: contain;
		background-color: #fffdf4;
		justify-content: space-between;
		position: relative;
	}

	.founder__wrapper {
		flex-wrap: wrap;
		gap: 0;
	}
	.founder__info {
		padding: 0;
	}

	.founder__inner {
		gap: 15px;
		flex-wrap: wrap;
		margin: 20px 0;
	}
	.founder__form {
		gap: 15px;
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
	.founder__item {
		display: none;
	}
	.founder__item-second {
		display: flex;
		width: 80%;
		margin: 0 auto 20px;
	}

	.acordeon {
		padding: 70px 0;
	}

	.acordeon__subtitle {
		margin-bottom: 60px;
	}
}
@media (max-width: 767.75px){
	html {
		font-size: 12px;
	}
	.header__text, .header__contact {
		display: none;
	}
	.intro__title {
		font-size: 1.9rem;
	}
	.intro__btn {
		flex-wrap: wrap;
		gap: 15px;
	}
	.intro__btn-calculate, .intro__btn-popup {
		width: 260px;
		text-align: center;
	}

	.intro__box {
		flex-wrap: wrap;
		gap: 10px;
		padding-bottom: 25px;
	}
	.service {
		padding: 50px 0;
	}

	.service__item {
		max-width: 90%;
	}
	.portfolio__wrapper {
		gap: 30px;
	}
	.portfolio__box__info {
		padding: 20px;
		gap: 20px;
	}
	.portfolio__box__square, 
	.portfolio__box__date,
	.portfolio__box__price,
	.portfolio__box__btn {
		grid-column: 1 / 3;
	}
	.swiper-slide {
		max-height: 250px;
		
	}
	.swiper-slide img {
		min-height: 250px;

	}
	.swiper-button-prev, .swiper-button-next {
		width: 30px;
		height: 30px;
	
	}
	.reviews__wrapper {
		gap: 25px;
	}
	.reviews__item {
		width: 90%;
	}
	.costcalc__wrapper {
		padding: 30px 25px 200px;
	}
	.costcalc__wrapper::before {
		width: 50%;
		height: 33%;
		opacity: 0.8;
	}
	.costcalc__title {
		font-size: 2rem;
	}
	.costcalc__contact {
		flex-direction: column;
		gap: 15px;
	}
	.costcalc__contact__text, .costcalc__contact a {
		display: block;
	}
	.standarts__item__third {
		grid-template-columns: auto auto;
		max-height: none;
	}
	.standarts__item__third__inner {
		grid-column: 1/4;
		display: grid;
		grid-template-columns: 90px auto;
	}
	.stages__title {
		font-size: 2rem;
	}
	.stages__wrapper {
		grid-template-columns: 90%;
		justify-content: center;
		gap: 20px;
	}
	.stages__box__1, 
	.stages__box__2, 
	.stages__box__3, 
	.stages__box__4, 
	.stages__box__5, 
	.stages__box__6 {
		grid-column: 1/2;
	}
	.stages__box__1 {
		background-size: 20%;
	}
	.stages__box__6 {
		background-size: 20%;
		background-position: right top;
	}
	.stages__box__6::after {
		content: "6";
		position: absolute;
		right: 15%;
		left: auto;
		bottom: 0%;
		transform: translate(0%, 0%);
		color: #ebebeb;
		font-size: 8rem;
		font-weight: 700;
	}
	.stages__text {
		width: 80%;
		font-size: 14px;
	}
	.stages__btn {
		margin-top: 15px;
	}

	.founder__wrapper {
		flex-direction: column;
	}
	.founder__info {
		width: 100%;
	}
	.founder__title {
		text-align: center;
	}
	.founder__inner {
		justify-content: center;
	}
	.founder__text {
		text-align: center;
	}
	.founder__form {
		justify-content: center;
	}
	.form__input {
		padding: 25px 40px 25px 40px;
	}
	.founder__imgbox {
		width: 80%;
	}
	.founder__name {
		padding: 15px 20px;
	}

	.founder__item-second {
    display: flex;
	flex-direction: column;
    width: 80%;
    margin: 0 auto 20px;
	}
	.founder__contact {
		width: 100%;
	}
	.founder__item {
		display: block;
	}
}

@media (max-width: 424.75px){}

/* +375296389212 михалыч
+375297755207 таня */
